/* Importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    /* Border-box: applies the set heigh and width to the entire element including the element border*/
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #F7F7F7;
    color: rgb(3, 3, 14);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cabin", sans-serif;
}
main {
    display: flex;
    /* For main element to take all surplus space and push the footer element down */
    flex: 1 0 auto;
}

header {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0 1.5rem 0;
    border-bottom: 2px solid #00D26A;
}

h1 {
    font-size: 1.25rem;
    padding: 0 3rem;
    letter-spacing: 0.15rem;
    align-self: center;
    text-align: center;
    width: 60%;
    color: #00D26A;
}

.logo {
    align-self: flex-start;
    text-align: end;
    width: 12%;
    margin-left: 1rem;
    border-radius: 50%;
    border: 2px solid #00D26A;
    padding: 0.1rem;
}

.nav {
    border: none;
}

/*Rules button*/
.rules {
    border: none;
    background: none;
    color: #00D26A;
    font-family: inherit;
    text-transform: inherit;
    font-size: 2.3rem;
    align-self: flex-end;
    text-align: start;
    margin-right: 1rem;
}

.rules:focus {
    color: #D67D00;
}

.rules-explain {
    display: none;
    background-color: white;
    position: absolute;
    top: 30%;
    left:10%;
    width: 80%;
    border: 4px outset #FFC83D;
    border-radius: 3px;
    padding: 0 1.5rem 0.5rem;
    line-height: 1.75rem; 
    letter-spacing: 0.1rem; 
    z-index: 10;
}

#rules-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #00D26A;

}

#rules-header h2 {
    font-size: 28px;
    text-transform: none;
    font-weight: 100;
}

#close-rules:focus {
    color: #FFC83D;    
}


.rules-explain hr {
    border: 1px solid #FFC83D;
}

#rules-text li {
    list-style-type: none;
    text-transform: none;
}


/*Start section*/
.start-game {  
    text-align: center;
    padding: 4.5rem 2rem 2rem;
    margin-top: 10rem;
    line-height: 1rem;   
}

.start-game h2 {
    font-size: 1rem;
    color: #00D26A;
}

form {
    margin-top: 1.5rem;
}

form label {
    color: #00D26A;
}

#user-name {
    width: 160px;
    height: 47.19px;
    padding: 0.6rem 2.5rem;
    border: 2px solid #FFC83D;
    border-radius: 0.6rem;
    margin-top: 1rem;
    background: white;
    font-family: inherit;
    font-size: 1rem;
    color: #00D26A;
    text-align: center;
    font-weight: bold;
}

.start-btn {
    font-family: inherit;
    text-transform: inherit;
    width: 160px;
    margin-top: 2rem;
    border: 2px solid #FFC83D;
    border-radius: 0.6rem;
    color: #00D26A;
    background-color: white;
    padding: 0.6rem 2.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
}

.start-btn:focus {
    border: 2px solid #00D26A;
    background-color: #00D26A;
    color:white;
}

/*Result display area style*/
.result-display-area {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    padding: 2rem 2rem 0;
}

.players-pick {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center; /* Center the picks horizontally */
    justify-items: center; /* Center the picks vertically */
    width: 100%;
}


.user-pick {
    transform: rotate(90deg) rotateY(180deg);
    font-size: 60px;
    align-self: flex-end;
    text-align: start;
}

.computer-pick {
    transform: rotate(-90deg);
    font-size: 60px;
    align-self: flex-end;
    text-align: start;
}

.scores {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 5rem;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
}

.user-score {
    width: 45%;
    align-self: flex-start;
    text-align: start;
}

.computer-score {
    width: 45%;
    align-self: flex-start;
    text-align: end;
}

.user-counter {
    color: #00D26A;
    font-weight: bold;
}

.pc-counter {
    color: rgb(245, 19, 60);
    font-weight: bold;
}

.text-result {
    padding: 1rem 0 0;
    font-size: 1.25rem;
    letter-spacing: 0.06rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: none;
    text-align: center;
}

/*Controls area style*/
.controls-area {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 3rem 2rem;
    width: 100%;
}

.controls-area h2 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.25rem;
}

.control-btn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}

.btn {
    width: 46px;
    height: 46px;
    font-size: 36px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    transition: background-color 3s ease-in-out;
    box-shadow: -2px 2px 5px rgb(79, 79, 91);
}

.btn:focus {
    border: 1px solid #00D26A;
    transform: scale(1.2);
 } 

#rock {
    grid-area: 1 / 2 / 2 / 3;
}

#paper {
    grid-area: 1 / 4 / 2 / 5;
}

#scissors {
    grid-area: 2 / 1 / 2 / 2;
}

#lizard {
    grid-area: 3 / 3 / 3 / 4;
}

#spock {
    grid-area: 2 / 5 / 2 / 5;
}

.end-game {
display: none;
background-color: white;
position: absolute;
top: 30%;
left:15%;
width: 70%;
border: 4px outset #FFC83D;
border-radius: 3px;
padding: 1rem;
line-height: 2rem; 
letter-spacing: 0.1rem; 
text-align: center;
}

#continue-quit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

.yes-no-buttons {
    width: 40px;
    height: 40px;
    font-size: 28px;
    border: 1px solid #E8F5E9;
    border-radius: 3px;
    background-color: #E8F5E9;
    box-shadow: -2px 2px 5px rgb(79, 79, 91);
}

/* Footer */
footer {
    display: block;
    width: 100%; 
    border-top: 2px solid #00D26A;
}

#contact-ways {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#contact-ways i {
    font-size: 170%;
    padding: 5%;
    color: #D67D00;
}

#contact-ways i:focus {
    transform: scale(1.2);
    color:#00D26A;
}

/* Media query: full screen mobile and larger (667px and up)*/
@media screen and (min-width: 667px) {

/*Header style*/
header {
    width: 100%;
}

.logo {
    width: 5%;
    margin-left: 2rem;
}

nav {
    margin-right: 2rem;
}

.start-game {  
    margin-top: 5.4rem;
    padding: 2rem 1rem 1rem;
    line-height: 0.5rem;
}

.start-btn {
    margin-top: 1rem;
}

/*Result display area style*/
.section-container {
    margin-top: 100px;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.result-display-area, .controls-area {
    width: 45%;
}

.result-display-area {
    margin-top: 0;
    padding-top: 0;
}

.computer-score {
    align-self: flex-start;
}

.text-result {
    padding-top: 0;
    padding-bottom: 2rem;
}
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    .start-game {  
        margin-top: 4rem;
        padding-top: 3rem;
    }
   
}

/* Media query: tablets and larger (992px and up)*/
@media screen and (min-width: 992px) {
    .start-game {  
        margin-top: 7rem;
    }

    .section-container {
        margin-top: 100px;
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-self: center;
        align-items: center;
    }
    .result-display-area, .controls-area {
        width: 100%;
    }

    .text-result {
        padding: 1.5rem 0 3rem;
    }

    .rules:hover {
        transform: scale(1.2);
        color:#FFC83D;
        cursor: pointer;
    }

    #close-rules:hover {
        color: #FFC83D;
        cursor: pointer;
    }

    #close-rules h2:hover {
        color: #FFC83D;
        cursor: pointer;
    }

.start-btn:hover {
    border: 2px solid #00D26A;
    background-color: #00D26A;
    color:white;
    cursor: pointer;
}

.btn:hover {
   border: 1px solid #00D26A;
   transform: scale(1.2);
   cursor: pointer;
} 

#contact-ways i:hover {
    transform: scale(1.2);
    color:#00D26A;
    cursor: pointer;
}

    
}
